<% const ctx = global.config.contextPath+global.config.viewPrefix; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../header.ejs %>
<div class="container">
    <div class="row">
        <div id="sidebar-left" class="col-lg-2 col-sm-1">
            <% include systemMenu %>
        </div>
        <div id="content" class="col-lg-10 col-sm-11">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header">
                            <h2>快速链接</h2>
                        </div>
                        <div class="box-content">
                            <div class="col-lg-1 col-md-2 col-xs-6">
                                <a href="<%= ctx %>/system/account" class="quick-button-small">
                                    <i class="fa fa-user-circle"></i>
                                    <p>账号管理</p>
                                </a>
                            </div>
                            <div class="col-lg-1 col-md-2 col-xs-6">
                                <a href="<%= ctx %>/system/role" class="quick-button-small">
                                    <i class="fa fa-paw"></i>
                                    <p>角色管理</p>
                                </a>
                            </div>
                            <div class="col-lg-1 col-md-2 col-xs-6">
                                <a href="<%= ctx %>/system/shop" class="quick-button-small">
                                    <i class="fa fa-tablet"></i>
                                    <p>门店列表</p>
                                </a>
                            </div>
                            <div class="col-lg-1 col-md-2 col-xs-6">
                                <a href="<%= ctx %>/system/log" class="quick-button-small">
                                    <i class="fa fa-window-restore"></i>
                                    <p>日志信息</p>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div><!--/col-->
            </div>
        </div>
    </div>
</div>


<% include ../bottom.ejs %>
<% include ../common/footer.ejs %>

</body>
</html>
