<% const ctx = global.config.contextPath + global.config.viewPrefix; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../header.ejs %>
<div class="container">
    <div class="row">
        <div id="sidebar-left" class="col-lg-2 col-sm-1">
            <% include systemMenu %>
        </div>

        <div id="content" class="col-lg-10 col-sm-11">
            <div class="row">
                <ol class="breadcrumb list">
                    <li><a href="<%= ctx %>/system/index">系统管理</a></li>
                    <li><a href="#">门店列表</a></li>
                </ol>
            </div>
            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <h2>查询条件</h2>
                    </div>
                    <div class="box-content">
                        <form role="form" id="query_form">
                            <input type="hidden" name="_sync" value="false"/>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">名称</span>
                                        <input type="text" name="name_like" placeholder="模糊查询" class="form-control"
                                               value=""/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">编码</span>
                                        <input type="text" name="code_like" placeholder="模糊查询" class="form-control"
                                               value=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="form-actions">
                                        <button type="button" class="btn btn-primary btn_query">查询</button>
                                        <button type="button" class="btn btn-inverse btn_sync">同步SAP供应商数据</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dataList"></div>
            </div>
        </div>
    </div>
</div>

<% include ../bottom.ejs %>
<% include ../common/footer.ejs %>

</body>
</html>
