<div class="clearfix"></div>
<footer>
    <div class="row">
        <div class="col-sm-5">
            &copy; 2017 法法信息
        </div><!--/.col-->

        <div class="col-sm-7 text-right">
        </div><!--/.col-->
    </div><!--/.row-->
</footer>