<% const ctx = global.config.contextPath+global.config.viewPrefix; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/public.ejs %>
</head>
<body>
<% include header.ejs %>
<div class="container">
    <div class="row">
        <div id="content" style="width: 100%;">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
                    <div class="smallstat box">
                        <div class="boxchart-overlay blue">
                            <div class="boxchart">5,6,7,2,0,4,2,4,8,2,3,3,2</div>
                        </div>
                        <span class="title">Clients</span>
                        <span class="value">4 589</span>
                    </div>
                </div><!--/col-->

                <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
                    <div class="smallstat box">
                        <div class="boxchart-overlay red">
                            <div class="boxchart">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
                        </div>
                        <span class="title">Transactions</span>
                        <span class="value">789</span>
                    </div>
                </div><!--/col-->

                <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
                    <div class="smallstat box">
                        <i class="fa fa-download green"></i>
                        <span class="title">Income</span>
                        <span class="value">$1 999,99</span>
                    </div>
                </div><!--/col-->

                <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
                    <div class="smallstat box">
                        <i class="fa fa-money yellow"></i>
                        <span class="title">Account</span>
                        <span class="value">$19 999,99</span>
                    </div>
                </div><!--/col-->
            </div><!--/row-->
        </div>
        <!-- end: Content -->
    </div><!--/row-->
</div><!--/container-->

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% include bottom.ejs %>
<% include common/footer.ejs %>

</body>
</html>
