<h1 class="menu-title"><i class="fa fa-cog icon-menu"></i>清洁服务</h1>
<div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav nav-tabs nav-stacked main-menu">
        <li id="_todoMenu_">
            <a href="<%= ctx %>/clean/apartmentManagement"><i class="fa fa-building"></i><span class="hidden-sm">建筑维护</span></a>
        </li>
        <li class="nav-item">
            <a href="<%= ctx %>/clean/repairManagement"><i class="fa fa-shower"></i><span class="hidden-sm">请求处理</span></a>
        </li>

    </ul>
</div>
