<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../common/header.ejs %>


<div class="container">
    <div class="row">
        <% include ../common/menu.ejs %>

        <div id="content" class="col-lg-10 col-sm-11">
            <div class="page-header">
                <h1>
                    数据字典
                    <small id="parseInfo">
                        <!--输入完成后 Ctrl + Enter 执行解析-->
                    </small>
                </h1>
                <div class="operationButton">
                    <button class="btn btn-default btn-primary" id="addData">
                        <span class="glyphicon glyphicon-plus"></span> 添加
                    </button>
                    <button class="btn btn-default btn-warning" id="editDate">
                        <span class="glyphicon glyphicon-pencil"></span> 修改
                    </button>
                    <button class="btn btn-default btn-danger" id="removeDate">
                        <span class="glyphicon glyphicon-trash"></span> 删除
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div id="datalist"></div>
                </div>
                <div class="col-md-7">
                    <div id="optionList"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="default-hidden">
    <!------------------------------------------ edit form modal ------------------------------------------>
    <form class="form-horizontal edit-form" id="edit-form">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    基本信息
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">名称</label>
                    <div class="col-md-7">
                        <input class="form-control" name="name" type="text" dol-validate="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">编码</label>
                    <div class="col-md-7">
                        <input class="form-control" name="code" type="text" dol-validate="required">
                    </div>
                </div>
            </div>
        </div>

        <div id="editOptionList"></div>
    </form>
    <div id="edit_form_footer">
        <button type="button" class="btn btn-primary btn-small" id="edit_form_save">保存</button>
        <button type="button" class="btn btn-default btn-small dol-hideModal" id="edit_form_cancel">取消</button>
    </div>
</div>

<% include ../common/footer.ejs %>
<% include ../common/script.ejs %>


</body>
</html>
