<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <% include common/public.ejs %>
</head>
<body>
<% include common/header.ejs %>
<div class="container">
    <div class="row">
        <% include common/menu.ejs %>

        <div id="content" class="col-lg-10 col-sm-11">
            欢迎来到<%= global.config.title %>测试冲突
        </div>
    </div>
</div>

<% include common/footer.ejs %>
<% include common/script.ejs %>
</body>
</html>
