<!DOCTYPE html>
<html>
<head>
    <% include ../../views/common/meta.ejs %>
    <% include ../../views/common/public.ejs %>
    <style>
        .table-bordered>tbody>tr>td{
            vertical-align: middle;
        }
        .query-form .input-group{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<% include ../../views/common/header.ejs %>
<div class="container">
    <div class="row">
        <% include ../../views/common/menu.ejs %>

        <div id="content" class="col-lg-10 col-sm-11">
            <!--<div class="page-header">-->
                <!--<h1>-->
                    <!--交易管理-->
                    <!--<small id="parseInfo">-->

                    <!--</small>-->
                <!--</h1>-->
                <!--<div class="operationButton">-->
                    <!--<div class="btn-group" role="group">-->
                        <!--<button class="btn btn-primary" id="addData">-->
                            <!--<span class="glyphicon glyphicon-plus"></span> 添加-->
                        <!--</button>-->
                        <!--<button class="btn btn-warning" id="editDate">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span> 修改-->
                        <!--</button>-->
                        <!--<button class="btn btn-danger" id="removeDate">-->
                            <!--<span class="glyphicon glyphicon-trash"></span> 删除-->
                        <!--</button>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;<form id="imageButton" class="inline-block">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="btn-group" role="group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-primary fileinput-button">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="glyphicon glyphicon-import"></span> 导入&ndash;&gt;-->
                    <!--&lt;!&ndash;<input id="importData" type="file" name="media" multiple>&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="btn btn-default" id="exportDate" type="button">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="glyphicon glyphicon-export"></span> 导出&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</form>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->


            <div class="queryCondition">
                <div class="row">
                    <div class="col-sm-8" style="border-right: 1px solid #dddddd;">
                        <form class="form-horizontal query-form" id="queryConditionForm">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">客户名称</span>
                                                <input type="text" class="form-control" name="customId_like">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">商品名称</span>
                                                <input type="text" class="form-control" name="productName_like">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">商户订单</span>
                                                <input type="text" class="form-control" name="orderNo_like">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <span class="input-group-addon">交易通道</span>
                                                <input type="text" class="form-control" name="payMethod">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">交易时间</span>
                                                <input type="text" class="form-control" id="daterange" name="daterange">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">交易金额</span>
                                                <input type="text" class="form-control" name="totalAmount_gt">
                                                <span class="input-group-addon">-</span>
                                                <input type="text" class="form-control" name="totalAmount_le">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-default btn-query" type="submit">
                                                搜索
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li><span>每日早上10:15分同步昨日的微信交易数据</span></li>
                            <li><span>每日凌晨01:15分同步昨日的支付宝交易数据</span></li>
                            <li><span>系统采用异步的方式，实现数据的快速同步</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-list"></span>
                        交易明细数据 <small><span class="text-danger">金额汇总 - <span id="totalSum">0</span>   手续费汇总 - <span id="feeSum">0</span></span></small>

                        <div class="operationButton">
                            <button class="btn btn-primary" id="sync">
                                <span class="glyphicon glyphicon-cloud-download"></span> 手工同步
                            </button>
                        </div>
                    </div>
                </div>
                <div id="datalist"></div>
            </div>

        </div>
    </div>
</div>

<div class="default-hidden">
    <!------------------------------------------ edit form modal ------------------------------------------>
    <form class="form-horizontal edit-form" id="edit-form">
        <div class="form-group">
            <label class="col-md-2 control-label">名称</label>
            <div class="col-md-10">
                <input class="form-control" name="name" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">编码</label>
            <div class="col-md-10">
                <input class="form-control" name="code" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">customerId</label>
            <div class="col-md-10">
                <input class="form-control" name="customerId" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">payMethod</label>
            <div class="col-md-10">
                <input class="form-control" name="payMethod" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">happenTime</label>
            <div class="col-md-10">
                <input class="form-control" name="happenTime" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">appId</label>
            <div class="col-md-10">
                <input class="form-control" name="appId" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">mchId</label>
            <div class="col-md-10">
                <input class="form-control" name="mchId" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">subMchId</label>
            <div class="col-md-10">
                <input class="form-control" name="subMchId" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">deviceId</label>
            <div class="col-md-10">
                <input class="form-control" name="deviceId" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">wechatOrder</label>
            <div class="col-md-10">
                <input class="form-control" name="wechatOrder" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">orderNo</label>
            <div class="col-md-10">
                <input class="form-control" name="orderNo" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">userDn</label>
            <div class="col-md-10">
                <input class="form-control" name="userDn" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">payType</label>
            <div class="col-md-10">
                <input class="form-control" name="payType" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">payStatus</label>
            <div class="col-md-10">
                <input class="form-control" name="payStatus" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">bank</label>
            <div class="col-md-10">
                <input class="form-control" name="bank" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">currency</label>
            <div class="col-md-10">
                <input class="form-control" name="currency" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">refundId</label>
            <div class="col-md-10">
                <input class="form-control" name="refundId" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">mchRefundId</label>
            <div class="col-md-10">
                <input class="form-control" name="mchRefundId" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">refundType</label>
            <div class="col-md-10">
                <input class="form-control" name="refundType" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">refundStatus</label>
            <div class="col-md-10">
                <input class="form-control" name="refundStatus" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">productName</label>
            <div class="col-md-10">
                <input class="form-control" name="productName" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">nonceStr</label>
            <div class="col-md-10">
                <input class="form-control" name="nonceStr" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">rate</label>
            <div class="col-md-10">
                <input class="form-control" name="rate" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">totalAmount</label>
            <div class="col-md-10">
                <input class="form-control" name="totalAmount" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">promotionAmount</label>
            <div class="col-md-10">
                <input class="form-control" name="promotionAmount" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">refundAmount</label>
            <div class="col-md-10">
                <input class="form-control" name="refundAmount" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">promotionRefund</label>
            <div class="col-md-10">
                <input class="form-control" name="promotionRefund" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">charge</label>
            <div class="col-md-10">
                <input class="form-control" name="charge" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">customerName</label>
            <div class="col-md-10">
                <input class="form-control" name="customerName" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">rowNum</label>
            <div class="col-md-10">
                <input class="form-control" name="rowNum" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">properties</label>
            <div class="col-md-10">
                <input class="form-control" name="properties" type="text" />
            </div>
        </div>
    </form>
    <div id="edit_form_footer">
        <button type="button" class="btn btn-primary btn-small" id="edit_form_save">保存</button>
        <button type="button" class="btn btn-default btn-small dol-hideModal" id="edit_form_cancel">取消</button>
    </div>


    <!------------------------------------------ detail modal ------------------------------------------>
    <form class="form-horizontal detail-form" id="detail-form">
        <div class="form-group">
            <label class="col-md-2 control-label">名称</label>
            <div class="col-md-10">
                <p class="form-control-static" name="name"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">编码</label>
            <div class="col-md-10">
                <p class="form-control-static" name="code"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">customerId</label>
            <div class="col-md-10">
                <p class="form-control-static" name="customerId"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">payMethod</label>
            <div class="col-md-10">
                <p class="form-control-static" name="payMethod"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">happenTime</label>
            <div class="col-md-10">
                <p class="form-control-static" name="happenTime"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">appId</label>
            <div class="col-md-10">
                <p class="form-control-static" name="appId"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">mchId</label>
            <div class="col-md-10">
                <p class="form-control-static" name="mchId"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">subMchId</label>
            <div class="col-md-10">
                <p class="form-control-static" name="subMchId"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">deviceId</label>
            <div class="col-md-10">
                <p class="form-control-static" name="deviceId"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">wechatOrder</label>
            <div class="col-md-10">
                <p class="form-control-static" name="wechatOrder"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">orderNo</label>
            <div class="col-md-10">
                <p class="form-control-static" name="orderNo"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">userDn</label>
            <div class="col-md-10">
                <p class="form-control-static" name="userDn"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">payType</label>
            <div class="col-md-10">
                <p class="form-control-static" name="payType"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">payStatus</label>
            <div class="col-md-10">
                <p class="form-control-static" name="payStatus"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">bank</label>
            <div class="col-md-10">
                <p class="form-control-static" name="bank"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">currency</label>
            <div class="col-md-10">
                <p class="form-control-static" name="currency"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">refundId</label>
            <div class="col-md-10">
                <p class="form-control-static" name="refundId"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">mchRefundId</label>
            <div class="col-md-10">
                <p class="form-control-static" name="mchRefundId"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">refundType</label>
            <div class="col-md-10">
                <p class="form-control-static" name="refundType"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">refundStatus</label>
            <div class="col-md-10">
                <p class="form-control-static" name="refundStatus"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">productName</label>
            <div class="col-md-10">
                <p class="form-control-static" name="productName"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">nonceStr</label>
            <div class="col-md-10">
                <p class="form-control-static" name="nonceStr"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">rate</label>
            <div class="col-md-10">
                <p class="form-control-static" name="rate"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">totalAmount</label>
            <div class="col-md-10">
                <p class="form-control-static" name="totalAmount"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">promotionAmount</label>
            <div class="col-md-10">
                <p class="form-control-static" name="promotionAmount"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">refundAmount</label>
            <div class="col-md-10">
                <p class="form-control-static" name="refundAmount"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">promotionRefund</label>
            <div class="col-md-10">
                <p class="form-control-static" name="promotionRefund"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">charge</label>
            <div class="col-md-10">
                <p class="form-control-static" name="charge"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">customerName</label>
            <div class="col-md-10">
                <p class="form-control-static" name="customerName"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">rowNum</label>
            <div class="col-md-10">
                <p class="form-control-static" name="rowNum"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">properties</label>
            <div class="col-md-10">
                <p class="form-control-static" name="properties"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">创建时间</label>
            <div class="col-md-10">
                <p class="form-control-static" name="createTime"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">更新时间</label>
            <div class="col-md-10">
                <p class="form-control-static" name="updateTime"></p>
            </div>
        </div>
    </form>
</div>

<% include ../../views/common/footer.ejs %>
<% include ../../views/common/script.ejs %>


</body>
</html>
