@charset "UTF-8";
/*水平翻转*/
.flipX {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1); }

/*垂直翻转*/
.flipY {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1); }

.inline-block {
  display: inline-block !important; }

.detail-form .col-lg-1, .detail-form .col-lg-10, .detail-form .col-lg-11, .detail-form .col-lg-12, .detail-form .col-lg-2, .detail-form .col-lg-3, .detail-form .col-lg-4, .detail-form .col-lg-5, .detail-form .col-lg-6, .detail-form .col-lg-7, .detail-form .col-lg-8, .detail-form .col-lg-9, .detail-form .col-md-1, .detail-form .col-md-10, .detail-form .col-md-11, .detail-form .col-md-12, .detail-form .col-md-2, .detail-form .col-md-3, .detail-form .col-md-4, .detail-form .col-md-5, .detail-form .col-md-6, .detail-form .col-md-7, .detail-form .col-md-8, .detail-form .col-md-9, .detail-form .col-sm-1, .detail-form .col-sm-10, .detail-form .col-sm-11, .detail-form .col-sm-12, .detail-form .col-sm-2, .detail-form .col-sm-3, .detail-form .col-sm-4, .detail-form .col-sm-5, .detail-form .col-sm-6, .detail-form .col-sm-7, .detail-form .col-sm-8, .detail-form .col-sm-9, .detail-form .col-xs-1, .detail-form .col-xs-10, .detail-form .col-xs-11, .detail-form .col-xs-12, .detail-form .col-xs-2, .detail-form .col-xs-3, .detail-form .col-xs-4, .detail-form .col-xs-5, .detail-form .col-xs-6, .detail-form .col-xs-7, .detail-form .col-xs-8, .detail-form .col-xs-9, .edit-form .col-lg-1, .edit-form .col-lg-10, .edit-form .col-lg-11, .edit-form .col-lg-12, .edit-form .col-lg-2, .edit-form .col-lg-3, .edit-form .col-lg-4, .edit-form .col-lg-5, .edit-form .col-lg-6, .edit-form .col-lg-7, .edit-form .col-lg-8, .edit-form .col-lg-9, .edit-form .col-md-1, .edit-form .col-md-10, .edit-form .col-md-11, .edit-form .col-md-12, .edit-form .col-md-2, .edit-form .col-md-3, .edit-form .col-md-4, .edit-form .col-md-5, .edit-form .col-md-6, .edit-form .col-md-7, .edit-form .col-md-8, .edit-form .col-md-9, .edit-form .col-sm-1, .edit-form .col-sm-10, .edit-form .col-sm-11, .edit-form .col-sm-12, .edit-form .col-sm-2, .edit-form .col-sm-3, .edit-form .col-sm-4, .edit-form .col-sm-5, .edit-form .col-sm-6, .edit-form .col-sm-7, .edit-form .col-sm-8, .edit-form .col-sm-9, .edit-form .col-xs-1, .edit-form .col-xs-10, .edit-form .col-xs-11, .edit-form .col-xs-12, .edit-form .col-xs-2, .edit-form .col-xs-3, .edit-form .col-xs-4, .edit-form .col-xs-5, .edit-form .col-xs-6, .edit-form .col-xs-7, .edit-form .col-xs-8, .edit-form .col-xs-9, .query-form .col-lg-1, .query-form .col-lg-10, .query-form .col-lg-11, .query-form .col-lg-12, .query-form .col-lg-2, .query-form .col-lg-3, .query-form .col-lg-4, .query-form .col-lg-5, .query-form .col-lg-6, .query-form .col-lg-7, .query-form .col-lg-8, .query-form .col-lg-9, .query-form .col-md-1, .query-form .col-md-10, .query-form .col-md-11, .query-form .col-md-12, .query-form .col-md-2, .query-form .col-md-3, .query-form .col-md-4, .query-form .col-md-5, .query-form .col-md-6, .query-form .col-md-7, .query-form .col-md-8, .query-form .col-md-9, .query-form .col-sm-1, .query-form .col-sm-10, .query-form .col-sm-11, .query-form .col-sm-12, .query-form .col-sm-2, .query-form .col-sm-3, .query-form .col-sm-4, .query-form .col-sm-5, .query-form .col-sm-6, .query-form .col-sm-7, .query-form .col-sm-8, .query-form .col-sm-9, .query-form .col-xs-1, .query-form .col-xs-10, .query-form .col-xs-11, .query-form .col-xs-12, .query-form .col-xs-2, .query-form .col-xs-3, .query-form .col-xs-4, .query-form .col-xs-5, .query-form .col-xs-6, .query-form .col-xs-7, .query-form .col-xs-8, .query-form .col-xs-9 {
  padding-left: 10px;
  padding-right: 10px; }

.form-horizontal .control-label {
  text-align: left; }

.query-form .form-group {
  margin-bottom: 0; }

input[placeholder], [placeholder], *[placeholder] {
  color: inherit !important; }

header .container {
  padding: 0; }
  header .container a.navbar-brand {
    margin-left: 0 !important;
    position: relative;
    height: 40px; }
  header .container a#main-menu-toggle.main-menu {
    position: relative;
    float: left;
    padding: 9px 12px;
    margin: 0; }
    header .container a#main-menu-toggle.main-menu.active {
      background: #ffffff;
      color: #36a9e1; }

.nav-tabs.nav-stacked > li > ul > li > a {
  padding: 10px 20px 10px 40px; }

.nav-tabs.nav-stacked > li > ul > li.active > a {
  background: #000000; }

.nav-tabs.nav-stacked > li.active > a {
  background: #000000; }

body {
  position: relative; }

a.link {
  color: #337ab7;
  text-decoration: underline; }

a.link:hover {
  color: #4db7ff;
  text-decoration: underline; }

.detail-form .form-group {
  margin-bottom: 0; }

/*title*/
.page-header:first-child {
  margin: 0 0 12px;
  border-bottom: 1px dotted #e2e2e2;
  position: relative; }

.page-header:first-child h1 {
  padding: 0;
  margin: 0 8px;
  font-size: 24px;
  font-weight: lighter;
  color: #2679b5;
  text-align: left; }

.page-header:first-child h1 small {
  margin: 0 6px;
  font-size: 14px;
  font-weight: normal;
  color: #8089a0; }

/*panel*/
.operationButton {
  height: 35px;
  margin-bottom: 5px;
  text-align: right; }

.operationButton.autoHeight {
  height: auto;
  margin-bottom: 5px; }

.operationButton .btn-group.float-right {
  margin-left: 10px; }

.page-header .operationButton {
  position: absolute;
  right: 3px;
  top: -4px; }

/*form*/
.form-buttons {
  text-align: center; }

/*checkbox block*/
.checkbox-block > input[type='checkbox'],
.checkbox-block > input[type='radio'] {
  display: none; }

.checkbox-block > label {
  width: 100%;
  cursor: pointer;
  border: 2px solid #eeeeee;
  border-radius: 5px; }

.checkbox-block > input[type='checkbox']:checked + label,
.checkbox-block > input[type='radio']:checked + label {
  border: 2px solid #337ab7; }

.dolphin_list label.switch {
  margin-bottom: 0; }

.dolphin_list img.thumbnail {
  max-width: 40px;
  max-height: 40px;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 3px;
  padding: 0;
  border: 0;
  cursor: pointer; }

#imgPreview > img {
  margin: 0 auto; }
