<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/public.ejs %>
    <style>
        #username,#password {
            color: #2b2b2b !important;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="login-box">
                <h2>请登录</h2>
                <form class="form-horizontal" action="login" method="get">
                    <fieldset>

                        <input class="input-large col-xs-12" name="username" id="username" type="text"
                               value="admin"
                               placeholder="type username"/>

                        <input class="input-large col-xs-12" name="password" id="password" type="password"
                               value="admin123"
                               placeholder="type password"/>

                        <div class="clearfix"></div>

                        <label class="remember" for="remember"><input type="checkbox" id="remember"/>记住我</label>

                        <div class="clearfix"></div>

                        <button type="button" id="login_btn" class="btn btn-primary col-xs-12">登录 </button>
                    </fieldset>
                </form>
            </div>
        </div><!--/row-->
    </div><!--/row-->
</div><!--/container-->
<% include common/footer.ejs %>
</body>
</html>