@import "constant";

body{
  position: relative;
}

a.link{
  color: $activeColor;
  text-decoration: underline;
}
a.link:hover{
  color: $activeColor * 1.5%;
  text-decoration: underline;
}



.detail-form .form-group{
  margin-bottom: 0;
}

/*title*/
.page-header:first-child {
  margin: 0 0 12px;
  border-bottom: 1px dotted #e2e2e2;
  position: relative;
}

.page-header:first-child h1 {
  padding: 0;
  margin: 0 8px;
  font-size: 24px;
  font-weight: lighter;
  color: #2679b5;
  text-align: left;
}

.page-header:first-child h1 small {
  margin: 0 6px;
  font-size: 14px;
  font-weight: normal;
  color: #8089a0;
}


/*panel*/
.operationButton {
  height: 35px;
  margin-bottom : 5px;
  text-align: right;
}
.operationButton.autoHeight {
  height: auto;
  margin-bottom : 5px;
}

.operationButton .btn-group.float-right {
  margin-left: 10px;
}
.page-header .operationButton{
  position: absolute;
  right: 3px;
  top: -4px;
}


/*form*/
.form-buttons{
  text-align: center;
}

/*checkbox block*/
.checkbox-block{

}
.checkbox-block > input[type='checkbox'],
.checkbox-block > input[type='radio']{
  display: none;
}
.checkbox-block > label{
  width: 100%;
  cursor: pointer;
  border: 2px solid #eeeeee;
  border-radius: 5px;
}
.checkbox-block > input[type='checkbox']:checked + label,
.checkbox-block > input[type='radio']:checked + label{
  border: 2px solid #337ab7;
}

