//path
$publicPath: '';
//color
$primaryColor: #fff200;
$secondColor: #231f20;
$thirdColor: #6ec0b6;
$activeColor: #337ab7;

$borderColor: #231f20;
$secondBorderColor: #aaaaaa;
$fontColor: #231f20;
$bgColor: #e7e7e7;
$titleBgColor: #393f41;
$redColor: red;
$whiteColor: #ffffff;