<h1 class="menu-title"><i class="fa fa-cog icon-menu"></i>对账服务</h1>
<div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav nav-tabs nav-stacked main-menu">
        <li id="_todoMenu_">
            <a href="<%= ctx %>/bill/dealdetail"><i class="fa fa-user-circle"></i><span class="hidden-sm"> 交易数据</span></a>
        </li>
        <li class="nav-item">
            <a href="<%= ctx %>/bill/customerList"><i class="fa fa-paw"></i><span class="hidden-sm"> 客户管理</span></a>
        </li>
        <li class="nav-item">
            <a href="<%= ctx %>/bill/terminalList"><i class="fa fa-tablet"></i><span class="hidden-sm"> 终端设备</span></a>
        </li>
    </ul>
</div>
