<!DOCTYPE html>
<html>
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
    <style>

    </style>
</head>
<body>
<% include ../common/header.ejs %>
<div class="container">
    <div class="row">
        <% include ../common/menu.ejs %>

        <div id="content" class="col-lg-10 col-sm-11">
            <div class="page-header">
                <h1>
                    此功能正在路上... ...
                    <small id="parseInfo">
                        请稍稍等一下~~
                    </small>
                </h1>
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>
<% include ../common/script.ejs %>


</body>
</html>
