<footer>

    <div class="row">

        <div class="col-sm-5">

        </div><!--/.col-->

        <div class="col-sm-7 text-right">
            Powered by: Wang | Based on Bootstrap 3.1.1 and Dolphin
        </div><!--/.col-->

    </div><!--/.row-->

</footer>