<meta charset="UTF-8">

<title><%= global.config.title %></title>

<meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template.">
<meta name="author" content="Åukasz Holeczek">
<meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
