<!DOCTYPE html>
<html>
<head>
    <% include ../../views/common/meta.ejs %>
    <% include ../../views/common/public.ejs %>
</head>
<body>
<% include ../../views/common/header.ejs %>
<div class="container">
    <div class="row">
        <% include ../../views/common/menu.ejs %>

        <div id="content" class="col-lg-10 col-sm-11">
            <div class="page-header">
                <h1>
                    产品管理
                    <small id="parseInfo">

                    </small>
                </h1>
                <div class="operationButton">
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" id="addData">
                            <span class="glyphicon glyphicon-plus"></span> 添加
                        </button>
                        <button class="btn btn-warning" id="editDate">
                            <span class="glyphicon glyphicon-pencil"></span> 修改
                        </button>
                        <button class="btn btn-danger" id="removeDate">
                            <span class="glyphicon glyphicon-trash"></span> 删除
                        </button>
                    </div>

                    <!--<form id="imageButton" class="inline-block">-->
                    <!--<div class="btn-group" role="group">-->
                    <!--<button type="button" class="btn btn-primary fileinput-button">-->
                    <!--<span class="glyphicon glyphicon-import"></span> 导入-->
                    <!--<input id="importData" type="file" name="media" multiple>-->
                    <!--</button>-->
                    <!--<button class="btn btn-default" id="exportDate" type="button">-->
                    <!--<span class="glyphicon glyphicon-export"></span> 导出-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</form>-->
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="queryCondition">
                        <form class="form-horizontal query-form" id="queryConditionForm">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="input-group date">
                                        <span class="input-group-addon">名称</span>
                                        <input type="text" class="form-control" placeholder="根据名称查询" name="name_like" />
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-default btn-query" type="submit">
                                        搜索
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">模型树</div>
                        </div>
                        <div class="panel-body">
                            <div id="modelTree"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div id="datalist"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../views/common/footer.ejs %>
<% include ../../views/common/script.ejs %>


</body>
</html>
