<% const ctx = global.config.contextPath + global.config.viewPrefix; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../header.ejs %>
<div class="container">
    <div class="row">
        <div id="sidebar-left" class="col-lg-2 col-sm-1">
            <% include billMenu %>
        </div>

        <div id="content" class="col-lg-10 col-sm-11">
            <div class="row">
                <ol class="breadcrumb list">
                    <li><a href="<%= ctx %>/bill/index">对账服务</a></li>
                    <li><a href="#">交易数据</a></li>
                </ol>
            </div>
            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <h2>查询条件</h2>
                    </div>
                    <div class="box-content">
                        <form role="form" id="query_form">
                            <input type="hidden" name="_sync" value="false"/>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">序列号</span>
                                        <input type="text" name="name_like" placeholder="模糊查询" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">终端编码</span>
                                        <input type="text" name="code_like" placeholder="模糊查询" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">终端类型</span>
                                        <select class="form-control" name="type">
                                            <option value="">--请选择--</option>
                                            <option value="0">POS</option>
                                            <option value="1">移动</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="form-actions">
                                        <button type="button" class="btn btn-primary btn_query">查询</button>
                                        <button type="button" class="btn btn-outline-primary btn_add">
                                            <i class="fa fa-plus-circle"></i>&nbsp;新增
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dataList"></div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">终端维护</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="data_form" method="post" action="">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <label>门店选择</label>
                                <select id="customerSelect" class="form-control select2-single"
                                        name="customer.id">
                                    <option value="">--请选择--</option>
                                    <% for(let i=0;i<data.length;i++){ %>
                                    <option value="<%= data[i].id %>"><%= data[i].name %></option>
                                    <%}%>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="code">终端编号</label>
                                <input type="text" class="form-control" id="code" name="code" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="name">终端名称</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="sn">序列号</label>
                                <input type="tel" class="form-control" id="sn" name="sn" placeholder="" />
                            </div>
                            <div class="form-group">
                                <label for="ccmonth" for="acctType">终端类型</label>
                                <select class="form-control col-md-6" name="type" id="acctType">
                                    <option value="">--请选择--</option>
                                    <option value="0">POS</option>
                                    <option value="1" selected>移动</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-danger" id="error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn_save"><i class="fa fa-dot-circle-o"></i> 保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<% include ../bottom.ejs %>
<% include ../common/footer.ejs %>

</body>
</html>
